.App {
}

.App__header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.App__nav-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  
}

.App__nav-item {
  margin: 0 15px;
}

.App__nav-item.active {
  font-weight: bold;
}
